@font-face {
  font-family: "College Block Regular";
  src: url("../../fonts/College_block.otf");
}

@font-face {
  font-family: "Nicholson Regular";
  src: url("../../fonts/Nicholson.otf");
}

@font-face {
  font-family: "Fty Regular";
  src: url("../../fonts/fty.ttf");
}

@font-face {
  font-family: "Crosshatcher";
  src: url("../../fonts/Crosshatcher.otf");
}