#wrapper {
  width: 100%;
  padding: 0;
  position: relative;
  height: 100vh;
  background: url("../../images/background.jpg") center center;
  background-size: cover;
  overflow-y: hidden;
  font-family: "College Block Regular", sans-serif;
}