#avatar {
  @include centerer;

  .avatar-frame {
  }
}
#avatar:after {
  background-image: url("../../images/avatar_frame.png");
  background-size: 320px;
  width: 320px;
  height: 313px;
  display: inline-block;
  content: "";
  animation: 10s linear infinite ring;
}