#avatar {
  @include centerer;

  .avatar-frame:after {
    background: url("../../images/avatar_frame.png") no-repeat;
    background-size: 345px;
    width: 345px;
    height: 340px;
    display: inline-block;
    content: "";
    animation: 25s linear infinite ring;
  }

  .avatar-frame:before {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    width: 310px;
    height: 310px;
    left: 15px;
    top: 15px;
    display: inline-block;
    content: "";
  }

  .avatar-content {
    @include centerer;
  }

  .avatar-content:before {
    background: url("../../images/avatar_photo.png") no-repeat;
    position: relative;
    background-size: 200px;
    width: 210px;
    height: 220px;
    display: inline-block;
    content: "";
  }
}