#comets {
  position:relative;
  top:-40vh;
  width:100vw;
  text-align: left;
  height: 100%;
  min-height: 900px;
  overflow:hidden;

  i {
    display: inline-block;
    width: 250px;
    height: 150px;
    position:absolute;
    border-radius: 5% 40% 70%;
    box-shadow: inset 0px 0px 1px #294b67;
    border: 1px solid #333;
    z-index: 1;
    background-color: #fff;
    opacity: .7;
    -webkit-animation: falling 15s 2s infinite;
    -webkit-animation-timing-function:ease-in;
  }

  i:nth-child(1) {
    left: 5vw;
    height:73px;
    width:3px;
    background-color: #fff;
  }

  i:nth-child(2) {
    -webkit-animation: falling2 6s 1s infinite;
    left: 30vw;
    height:70px;
    width:4px;
    background-color: #fff;

  }

  i:nth-child(3) {
    height:11px;
    width:3px;
    -webkit-animation: falling3 8s 3s infinite;
    left: 5vw;
    background-color: #fff;
  }
}