#header {
  @include centerer;
  width: 100%;
  font-size: 3rem;
  padding-top: 15px;
  color: darkgrey;


  #cv {
    position: relative;

    i {
      opacity: .3;
      position: relative;
      margin-right: 10px;
      margin-left: 30%;
      transition: .2s ease-in opacity;
      text-shadow: -1px 0 darkgrey, 0 1px darkgrey, 1px 0 darkgrey, 0 -1px darkgrey;
    }

    a {
      position: absolute;
      color: darkgrey;
      top: 0;
      opacity: 0;
      transition: .3s ease-in opacity;
      font-family: "Nicholsol Regular", sans-serif;
      font-weight: 900;
      font-size: 2.5rem;
      letter-spacing: 0;
      text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
    }

    a::after {
      @include normalize;
      display: inline-block;
      height: 300vh;
      width: 50vw;
      content: "";
      margin-left: -150px;
    }
  }

  #cv:hover {

    a {
      opacity: .6;
    }

    i {
      opacity: 1;
    }
  }
}